<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="container mt-5">
    <h1 class="mb-4">Nueva cuenta</h1>
    <form method="post" action="#" th:action="@{/cuentas/new/submit}" th:object="${cuentaForm}" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="iban" class="form-label">IBAN:</label>
        <input type="text" class="form-control" id="iban" th:field="*{iban}" />
      </div>
      <div class="mb-3">
        <label for="alias" class="form-label">Alias:</label>
        <input type="text" class="form-control" id="alias" th:field="*{alias}" />
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </body>
</html>
