<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curso CRUD</title>
  </head>
  <body>
            <h1>Datos de curso</h1>
             <table>
            <tbody>
              <tr><td>Id:</td>	<td th:text="${curso.id}">Id</td></tr>
              <tr><td>Nombre:</td><td th:text="${curso.nombre}">nombre</td></tr>
              <tr><td>Precio:</td> <td th:text="${curso.precio}">0</td></tr>
              <tr><td>Temática:</td><td th:text="${curso.tematica}">tematica</td></tr>
              <tr><td><a th:href="@{/editar/{id}(id=${curso.id})}">Editar</a></td>
                  <td><a th:href="@{/borrar/{id}(id=${curso.id})}">Borrar</a>
                      <a  th:href="@{/}">Inicio</a></td></tr>
            </tbody>
        </table>
        </div>
      </div>
  </body>
</html>