<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curso CRUD</title>
    <style>.cssError{ background-color:red; }</style>
  </head>
  <body>
    <h1>Editar autor</h1>
    <form method="post" action="#" th:action="@{/autor/edit/submit}" th:object="${autorForm}">
      <input type="hidden" id="id" th:field="*{id}" />

      <label>Nombre:
        <input type="text" id="nombre" th:field="*{nombre}" />
        <span th:classappend="${#fields.hasErrors('nombre')} ? 'cssError'" th:errors="*{nombre}"></span>
      </label><br/>

      <label>Email:
        <input type="text" id="email" th:field="*{email}" />
        <span th:classappend="${#fields.hasErrors('email')} ? 'cssError'" th:errors="*{email}"></span>
      </label><br/>

      <br><br>

      <input  type="submit" value="Enviar" />  

      <br><br>

      <a  th:href="@{/autor/}">Volver</a>
    </form>
  </body>
</html>