<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragmentos.html::cabecera}"></head>
<body>
    <nav th:replace="~{/fragmentos.html::menu}"></nav> <br>

    <h3>Listado imágenes de títulos del Palmarés del Celta</h3>
        
    <ul>
        <h4>Segunda División: <img th:src="@{/segunda_division.png}" alt=""> </h4>
        <h4>Segunda División B: <img th:src="@{/segunda_division_b.png}" alt=""> </h4>
        <h4>Tercera División: <img th:src="@{/tercera_division.png}" alt=""> </h4>
        <h4>Trofeo Ciudad de Vigo: <img th:src="@{/trofeo_ciudad_vigo.png}" alt=""> </h4>
        <h4>Trofeo Colombino: <img th:src="@{/trofeo_colombino.png}" alt=""> </h4>
        <h4>Trofeo Teresa Herrera: <img th:src="@{/trofeo_teresa_herrera.png}" alt=""> </h4>
    </ul>
</body>
</html>