<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora</title>
    <style>
      .focus {
        background-color: yellow;
      }
      a {
        text-decoration: none;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
      }
      table td {
        border: 1px solid #ddd;
        width: 5em;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <td th:classappend="${!boleanoDigitoSumaPulsado} ? 'focus'">Operando1</td>
        <td th:text="${numeroOperando1}"></td>
      </tr>
      <tr>
        <td th:classappend="${boleanoDigitoSumaPulsado && calcularSuma == nul} ? 'focus'">Operando2</td>
        <td th:text="${numeroOperando2}"></td>
      </tr> 
      <tr>
        <td th:classappend="${boleanoDigitoSumaPulsado && calcularSuma > 0 } ? 'focus' : ' ' ">Resultado</td>
        <td th:text="${calcularSuma}"></td>
      </tr>
    </table>
    <br />
    <br />
    <br />
    <table>
      <tr>
        <td><a href="/digito/1">1</a></td>
        <td><a href="/digito/2">2</a></td>
        <td><a href="/digito/3">3</a></td>
      </tr>
      <tr>
        <td><a href="/digito/4">4</a></td>
        <td><a href="/digito/5">5</a></td>
        <td><a href="/digito/6">6</a></td>
      </tr>
      <tr>
        <td><a href="/digito/7">7</a></td>
        <td><a href="/digito/8">8</a></td>
        <td><a href="/digito/9">9</a></td>
      </tr>
      <tr>
        <td><a href="/suma">+</a></td>
        <td><a href="/digito/0">0</a></td>
        <td><a href="/clear">Clear</a></td>
      </tr>
      <tr>
        <td><a href="/resta">-</a></td>
        <td colspan="3" ><a href="/igual">=</a></td>
      </tr>
    </table>
  </body>
</html>
