<!DOCTYPE html>
<html lang="en">
<head th:fragment="cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabecera de otro archivo</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <nav th:fragment="menu" class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li><a class="nav-link active" th:href="@{/}">Home</a></li>
            <li><a class="nav-link active" th:href="@{/app/palmares}">Palmarés</a></li>
            <li><a class="nav-link active" th:href="@{/app/galeria-fotos}">Galería</a></li>
            <li><a class="nav-link active" th:href="@{/app/enlaces-externos}">Enlaces externos</a></li>
        </ul>
    </nav>
</body>
</html>