<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragmentos.html::cabecera}"></head>
<body>
    <nav th:replace="~{/fragmentos.html::menu}"></nav>
    <br>
    <h3> <a th:href="@{https://es.besoccer.com/equipo/palmares/celta}">Enlaces a los Títulos del Palmarés del Celta</a></h3>

    <ol> 
        <li><a th:href="@{https://es.besoccer.com/competicion/segunda}">Segunda División</a> </li>
        <li><a th:href="@{https://es.besoccer.com/competicion/segundab}">Segunda División B</a></li>
        <li><a th:href="@{https://es.besoccer.com/competicion/tercera}">Tercera División</a></li>
        <li><a th:href="@{https://es.besoccer.com/competicion/trofeo-ciudad-de-vigo}">Trofeo Ciudad de Vigo</a></li>
        <li><a th:href="@{https://es.besoccer.com/competicion/trofeo-colombino}">Trofeo Colombino</a></li>
        <li><a th:href="@{https://es.besoccer.com/competicion/trofeo-teresa-herrera}">Trofeo Teresa Herrera</a></li>
    </ul>
    

</body>
</html>