<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment.html :: cabecera}"></th:block> 
    <title>Listados de empleados</title>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
                  <nav th:replace="~{fragment.html::menu}"></nav>

            <h1 th:text="${tituloListado}">Título listado</h1>
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Salario</th>
                </thead>
                <tbody>
                    <tr th:each="empleado : ${listaEmpleados}">
                        <td th:text="${empleado.id}">Id</td>
                        <td><a th:href="@{/{id}(id=${empleado.id})}" th:text="${empleado.nombre}">nombre</a></td>
                        <td th:text="${empleado.salario}">salario</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>