<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curso CRUD</title>
  </head>
  <body>
    <h1>Nuevo curso</h1>
    <form method="post" action="#" th:action="@{/nuevo/submit}"
            th:object="${cursoForm}">
            <label>Id:<input type="text" id="id" th:field="*{id}" /> </label><br/>
            <label>Nombre:<input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
            <label>Precio:<input type="text" id="precio" th:field="*{precio}" /></label><br/>
            Temática:<br/>          
            <div th:each="tem : ${T(com.example.crud_basico_pract.domain.Tematica).values()}">
                <input type="radio" name="button1" th:value="${tem}" th:text="${tem}" th:field="*{tematica}" />
            </div>
            <input  type="submit" value="Enviar" />
    </form>
    <br/>
    <a  th:href="@{/}">Inicio</a><br/>
  </body>
</html>