<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Formulario procesado</h3>
    <div>
        <p>Suma de <span th:text="${form.numero1}"></span> y <span th:text="${form.numero2}"></span>: <span style="font-weight: bold;" th:text="${suma}"></span> </p>
        <!-- <p>Suma de <span th:text="${form.numero1}"></span> y <span th:text="${form.numero2}"></span>: <span style="font-weight: bold;" th:text="${form.getSuma()}"></span> </p> -->  <!--esta es otra opción -->  
    </div>
</body>
</html>