<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formuario</title>
  </head>

  <body>
    <form action="#" method="post" th:action="@{/form/submit}" th:object="${form}">
      <label for="num1">Número 1:</label>
      <input type="number" id="num1" th:field="*{numero1}">
      <br><br>
      <label for="num1">Número 2:</label>
      <input type="number" id="num1" th:field="*{numero2}">
      <br><br>
      <input type="submit" value="Enviar">
    </form>    
  </body>
</html>
