<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>
      .cssError {
        color: red;
        border: 1px solid red;
      }
      .cssError input {
        border-color: red;
      }
    </style>
  </head>

  <body>
    <form action="#" method="post" th:action="@{/}" th:object="${form}">
      <br>
      <!-- añadir la fecha1 y comprobar que no tenga errores -->
      <div th:classappend="${#fields.hasErrors('fecha1')} ? 'cssError' ">
        <label for="fecha1">Fecha 1:</label>
        <input type="date" id="fecha1" th:field="*{fecha1}">
        <span th:if="${#fields.hasErrors('fecha1')}" th:errors="*{fecha1}" ></span>
      </div>
      
      <br>

       <!-- añadir la fecha2 y comprobar que no tenga errores -->
      <div th:classappend="${#fields.hasErrors('fecha2')} ? 'cssError' ">
        <label for="fecha2">Fecha 2:</label>
        <input type="date" id="fecha2" th:field="*{fecha2}">
        <span th:if="${#fields.hasErrors('fecha2')}" th:errors="*{fecha2}" ></span>
      </div>

      <br><br>

      <div>
        <div style="border: 1px solid black; width: 40%; padding: 3px;">
          <h3>Calcular cuántos días hay entre ambas fechas:</h3>
          <input type="submit" name="valorBoton" value="Calcular dias"></input>
          <div th:if="${calcDias}">
            <p>Entre ambas fechas introducidas hay <span style="font-weight: bold;" th:text="${calcDias}"></span> días.</p>
          </div>
          <!-- <span th:text="${calcDias}"></span> -->
        </div>

        <br>

        <div style="border: 1px solid black; width: 40%; padding: 3px;">
          <h3>Lista de los años bisiestos comprendidos entre las fechas introducidas (ambas incluídas):</h3>
          <input type="submit" name="valorBoton" value="Calcular bisiestos"></input>
          <div th:if="${calcBisiestos}">
            <div style="margin-top: 10px;" th:text="${!#lists.isEmpty(calcBisiestos)} ? 'Los años bisiestos entre ambas fechas introducidas son: ' + ${calcBisiestos} : 'No hay años bisiestos.' "></div>
          </div>
          <!-- Opción 2 para mostrar los resultados (con un if-else): -->
          <!-- <div th:if="${!calcBisiestos.isEmpty()}">
            <p>Los años bisiestos entre ambas fechas introducidas son: <br> <span style="font-weight: bold;" th:text="${calcBisiestos}"></span></p>
          </div>
          <div th:unless="${!calcBisiestos.isEmpty()}">
            <p>No hay años bisiestos.</span></p>
          </div> -->
        </div>

        <br>

        <div style="border: 1px solid black; width: 40%; padding: 3px;">
          <h3>Calcular cuántas veces coincidió que el 1 de enero fuera domingo:</h3>
          <input type="submit" name="valorBoton" value="Calcular domingos"></input>
          <div th:if="${calc11Enero}">
            <div style="margin-top: 10px;" th:text="${#lists.size(calc11Enero) > 0} ? ${calc11Enero} + ' veces coincidió que el 1 de enero fuera domingo' : 'No hay coincidió ninguna vez' "></div>
          </div>
        </div>

        <br><br>
      </div>

      <!-- para mostrar los posibles errores... -->
      <div th:if="${txtErr!=null}">
        <p class="alert alert-danger" role="alert" th:text="${txtErr}">error</p>
      </div>
    </form>
    
  </body>
</html>